//
// 1. Gutters
// 2. Z-index
//


// ------------ //
//  1. Gutters  //
// ------------ //
$gutter: 1rem;
$gutter-sm: $gutter / 2;
$gutter-md: $gutter * 2;
$gutter-lg: $gutter * 3;
$gutter-xl: $gutter * 4;

// ------------ //
//  2. Z-index  //
// ------------ //
$z-index-0: 0;
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;
$z-index-max: 1000;

