.product-col {
    width: 100%;
    border-right: 1px solid #000;
}

.product-col:last-child {
    border-right: 0;
}
@media screen and (min-width: 480px) {
    .product-col {
        width: 50%;
        margin: auto;
    }
}
@media screen and (min-width: 768px) {
    .product-col {
        width: 20%;
        margin: auto;
    }
}

.product-name-title p {
    font-size: 3rem;
}

.productMobileSlider {

}
.productWrapperDesktop,
.productWrapperDesktopFlex {
    display: none;
}

@media screen and (min-width: 768px) {
    .productMobileSlider {
        display: none;
    }
    .productWrapperDesktop {
        display: block;
    }
    .productWrapperDesktopFlex {
        display: flex !important;
    }
}

.section-grid-item {
    width: 47%;
    margin-bottom: 2rem;
    text-align: center;
}

.section-grid-item:first-child {
    border-right: 6px solid #151515;
    border-bottom: 6px solid #151515;
    border-bottom-right-radius: 2rem;
}

.section-grid-item:nth-child(2) {
    border-left: 6px solid #151515;
    border-bottom: 6px solid #151515;
    border-bottom-left-radius: 2rem;
}

.section-grid-item:nth-child(3) {
    border-right: 6px solid #f7dbc7;
    border-top: 6px solid #f7dbc7;
    border-top-right-radius: 2rem;
}
.section-grid-item:nth-child(4) {
    border-left: 6px solid #151515;
    border-top: 6px solid #151515;
    border-top-left-radius: 2rem;
}