.product-col {
    width: 100%;
    /*border-right: 1px solid #000;*/
    position: relative;
}


.product-col-image-wrapper {
    position: relative;
    max-height: 50rem;
    height: 45.5vh;
    /*margin-bottom: 2.5rem;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.product-col-image-wrapper:after {
    content: '';
    width: 1px;
    background: #000;
    height: 20rem;
    position: absolute;
    right: 0;
    top: calc((100% - 20rem) / 2);

}

.product-col:last-child .product-col-image-wrapper:after {
    width: 0;
}
@media screen and (min-width: 480px) {
    .product-col {
        width: 50%;
        margin: auto;
    }
}
@media screen and (min-width: 768px) {
    .product-col {
        width: 20%;
        margin: auto;
    }
}

.product-name-title p {
    font-size: inherit;
}

.productMobileSlider {
    padding-bottom: 30px !important;
}
.productWrapperDesktop,
.productWrapperDesktopFlex {
    display: none;
    padding-bottom: 30px !important;
}

.productWrapperDesktop p,
.productWrapperDesktopFlex p {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .productMobileSlider {
        display: none;
    }
    .productWrapperDesktop {
        display: block;
    }
    .productWrapperDesktopFlex {
        display: flex !important;
        justify-content: center
    }
}

.section-grid-item {
    width: 35%;
    margin-bottom: 2rem;
    text-align: center;

}

.section-grid-item .member,
#section-active-item .member {
    width: 100%;
    padding: 0 !important;
}
.section-grid-item:first-child {
    border-right: 1px solid #151515;
    border-bottom: 1px solid #151515;
    border-bottom-right-radius: 2rem;

}

.section-grid-item:nth-child(2) {
    border-left: 1px solid#151515;
    border-bottom: 1px solid#151515;
    margin-left: 2rem;
    border-bottom-left-radius: 2rem;
}

.section-grid-item:nth-child(3) {
    border-right: 1px solid#f7dbc7;

    border-top: 1px solid#f7dbc7;
    border-top-right-radius: 2rem;
}
.section-grid-item:nth-child(4) {
    border-left: 1px solid#151515;
    border-top: 1px solid#151515;
    margin-left: 2rem;
    border-top-left-radius: 2rem;
}

@media screen and (max-width: 768px) {
    .section-grid-item{ width: 45%;}
    .section-grid-item:nth-child(2),
    .section-grid-item:nth-child(4){
        margin-left: 5%
    }
}



.product-top-section-container {
    max-width: 140rem;
    height: 100%;
    background-size: 25%;
    background-position: right center;
    background-repeat: no-repeat;

}

.product-top-section-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}
.product-top-section-wrapper {
    padding: 6rem 0 6rem;
}
.homepage .product-top-section-wrapper {
    padding-bottom: 0;
}
.product-top-section-title {
    font-size: 3rem;
    color: #ffffff;
}
.product-top-section-titles {
    margin-bottom: 3rem
}

@media screen and (min-width: 640px) {
    .product-top-section-wrapper {
        height: 100vh;
        padding: 0;
    }
    .product-top-section-center {
        height: 100%;
    }
    .product-top-section-title {
        font-size: 4.2rem;
    }
}

@media screen and (max-width: 639px) {
    .product-top-section-container {
        background-image: none !important;
    }
}

@media screen and (min-width: 768px) {
    .product-top-section-wrapper {
        padding: 0rem 0 12rem;
    }
    .product-top-section-titles {
        margin-bottom: 10rem;
    }
}