html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-text-size-adjust: 62.5%;
  -ms-text-size-adjust: 62.5%;
  font-size: 62.5%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }

li {
  list-style: none; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* ------------------------------ */
/*       >>> COMPONENTS <<<       */
/* ------------------------------ */
/* ---------------------- */
/*   1. Links & Buttons   */
/* ---------------------- */
a {
  color: blue; }
  a:visited {
    color: pink; }
  a:hover, a:focus, a:active {
    color: brown; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #333;
  border-color: #000;
  color: #fff;
  border: .1rem solid;
  border-radius: .3rem;
  -webkit-box-shadow: inset 0 0.1rem 0 rgba(255, 255, 255, 0.5), inset 0 1.5rem 1.7rem rgba(255, 255, 255, 0.5), inset 0 -0.5rem 1.2rem rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0.1rem 0 rgba(255, 255, 255, 0.5), inset 0 1.5rem 1.7rem rgba(255, 255, 255, 0.5), inset 0 -0.5rem 1.2rem rgba(0, 0, 0, 0.05);
  font-size: 7.5px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 0.1rem 0 rgba(255, 255, 255, 0.8); }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: pink;
  border-color: #fff;
  color: #fff;
  -webkit-box-shadow: inset 0 0.1rem 0 rgba(255, 255, 255, 0.8), inset 0 1.5rem 1.7rem rgba(255, 255, 255, 0.8), inset 0 -0.5rem 1.2rem rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 0.1rem 0 rgba(255, 255, 255, 0.8), inset 0 1.5rem 1.7rem rgba(255, 255, 255, 0.8), inset 0 -0.5rem 1.2rem rgba(0, 0, 0, 0.02); }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: pink;
  border-color: #fff;
  color: #fff;
  -webkit-box-shadow: inset 0 -0.1rem 0 rgba(255, 255, 255, 0.5), inset 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -0.1rem 0 rgba(255, 255, 255, 0.5), inset 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15); }

/* ---------------------- */
/*       2. Lists         */
/* ---------------------- */
ul.list--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  ul.list--horizontal li {
    padding: 0 1rem;
    list-style: none; }

/* ---------------------- */
/*      3. Layout         */
/* ---------------------- */
.container {
  -webkit-transition: padding .5s;
  -o-transition: padding .5s;
  transition: padding .5s;
  border: 1px solid;
  padding: 0 1rem; }
  @media only screen and (min-width: 640px) {
    .container {
      padding: 0 1rem; } }
  @media only screen and (min-width: 768px) {
    .container {
      padding: 0 1.8rem; } }
  @media only screen and (min-width: 992px) {
    .container {
      padding: 0 9.2rem; } }
  @media only screen and (min-width: 1200px) {
    .container {
      padding: 0 12rem; } }
  @media only screen and (min-width: 1440px) {
    .container {
      padding: 0 16rem; } }
  @media only screen and (min-width: 1600px) {
    .container {
      padding: 0 20rem; } }
  .container--fluid {
    padding: 0 1rem; }

.row {
  padding: 0.5rem;
  border: .1rem solid red;
  margin-left: -1rem;
  margin-right: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.cell {
  padding: 0.5rem;
  border: 1px solid green;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .cell {
      width: 50%; } }
  @media only screen and (min-width: 992px) {
    .cell {
      width: 25%; } }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .grid--layout {
    border: 1px solid red; }
    .grid--layout-start {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .grid--layout-end {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .grid--layout-center {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .grid--layout-between {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .grid--layout-around {
      -ms-flex-pack: distribute;
      justify-content: space-around; }
  .grid--wrap-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .grid--wrap-nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .grid__cell {
    padding: 0.5rem;
    border: 1px solid green;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    .grid__cell > * {
      width: 100%; }
    @media only screen and (min-width: 768px) {
      .grid__cell {
        width: 50%; } }
    @media only screen and (min-width: 992px) {
      .grid__cell {
        width: 25%; } }

.site-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.post {
  padding: 1rem;
  border: .1rem solid red; }
